{% extends "base.html" %}
{% block style %}
    button {text-align: left;}
{% endblock %}
{% block body %}
<form action="{{ url_for("Login")}}" method="POST">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <button  class="btn" value="Login" name="login">Login</button>
    <button class="btn" value="signup" name="signup">Signup</button>
{% endblock %}

