{% extends "base.html" %}

<!--{% block style %}-->
<!--{% endblock %}-->
{% block body %}
    <form action="{{ url_for("Signup")}}" method="POST">

            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
            <label for="confirmpassword">Confirm Password:</label>
            <input type="text" id="confirmpassword" name="confirmpassword"><br><br>
    <form>
        <button class="btn" value="signup" name="signup">Signup</button>
    </form>
    {% if error %}
        <p> {{ error }} </p>
    {% endif %}

{% endblock %}